.Panel-content {
  padding: 20px;
}

.Panel-content h2 {
  margin-top: 0;
}

/* from api response */
.passageContentHolder {
  padding-left: 20%;
  position: relative;
}

.notesPane {
  width: 20%;
  position: absolute;
  left: 0;
}

.notesPane .margin {
  font-size: 75%;
  margin: 0 10px 5px 0;
}

.notesPane .margin:hover {
  background-color: #F2F2F2;
}
